@model TicketsDemo.Models.ReservationViewModel

@{
    ViewBag.Title = "Run details";
}

<h2>Train @Model.Train.Number (@Model.Train.StartLocation - @Model.Train.EndLocation)</h2>
<h4>Run starts at @Model.Date.ToShortDateString()</h4>

<h2>the place @Model.PlaceInRun.Number in carriage @Model.PlaceInRun.CarriageNumber is reserved for you for</h2>

<h4>Price:</h4>

@foreach (var pc in Model.PriceComponents)
{
    <span>@pc.Name:@pc.Value$</span>
    <br />
}

@using (Html.BeginForm("CreateTicket", "Run"))
{
    <input type="hidden" value="@Model.Reservation.Id" name="ReservationId" id="ReserevationId" />
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName" id="FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName" id="LastName" /></td>
        </tr>
        @if (@Model.Train.Carriages[Model.PlaceInRun.CarriageNumber].Type.ToString() != "Sedentary")
        {
            <tr>
                <td>Is Bed</td>
                <td><input type="checkbox" name="IsBed" id="IsBed" value="true" checked /></td>
            </tr>
        }
        <tr>
            <td>Is Tea</td>
            <td><input type="checkbox" name="IsTea" id="IsTea" value="true" /></td>
            <!-- <td>Html.CheckBoxFor(Model=>Model.PriceComponents.IsTea)</td>-->
        </tr>
        <tr>
            <td>Is Coffee</td>
            <td><input type="checkbox" name="IsCoffee" id="IsCoffee" value="true" /></td>
        </tr>
    </table>
    <input type="submit" value="submit" />
}

<!--public string FirstName { get; set; }
        public string LastName { get; set; }
        public int ReservationId { get; set; }-->
